
<h1>Listing picks</h1>

<% @picks.in_groups_of(3) do |group| %>
  <div class="row">
      <% group.compact.each do |pick| %>
        <div class="col-md-4 item-wrap">
          <div class="pick-wrap">
            <%= link_to image_tag(pick.picture_url, width:'100%'), pick, class:'pick-img' %>
            <p><%= pick.title%></p>
          </div>
        </div>
      <% end %>
  </div>
<% end %>

<br />